body, html {
    height: 100%;
    margin: 0;
}

.debugframe {
    border-color: red;
    border-style: solid;
    border-width: 2px;
    background-color: #ffcbcb;
}

.margin-div {
    margin: auto;
    width: 70%;
}

.flex {
    display: flex;
}


/* Header */

.header {
    position: fixed;
    top: 0;
    height: 8.6vh;
    width: 100%;
    background: #F1F4F6;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
    
}

.header-flex {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 100%;
    padding-top: 1.9vh;
}

.header-image {
    height: 4.3vh;
    top: 25%;
}

.tabs {
    display: flex;
    justify-content: space-between;
    width: 50vw;
}

.tab {
    color: #727272;
    font-size: 30px;
    text-decoration: none;
}

.open {
    font-family: 'GT Walsheim Pro Condensed Medium';
}

.closed {
    font-family: 'GT Walsheim Pro Condensed Light';
}


/* Homepage */

.crosses-background {
    background-image: url(images/bg_crosses.png);
    height: 100%;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.home-circle-div {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
}

.hello-text {
    font-family: 'GT Walsheim Pro Bold';
    font-size: 96px;
    color: #26262C;
    margin-top: 0;
}

.hello-p {
    margin: 0;
}

.description-text {
    font-family: 'GT Walsheim Pro Light';
    font-size: 36px;
    color: #62626F;
    text-align: justify;
    text-justify: inter-word;
    margin-top: 0;
}

.description-p {
    width: 60%;
    margin: 0;
}

.skills-background {
    background: #F1F4F6;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
    padding-top: 10em;
    padding-bottom: 10em;
}

.primary-skill-icon {
    height: 100px;
    width: 100px;
    margin-right: 1em;
}

.primary-skill-title {
    font-family: 'GT Walsheim Pro Bold';
    font-size: 70px;
    color: #26262C;
    margin-top: 10px;
    margin-bottom: 0;
}

.skill-text {
    font-family: 'GT Walsheim Pro Light';
    font-size: 26px;
    color: #62626F;
    text-align: justify;
    text-justify: inter-word;
}

.programming-skills {
    text-align: center;
    margin-right: 3em;
}

.programming-image {
    height: 243px;
    width: 380px;
    margin-top: 26px;
}

.programming-level {
    font-family: 'GT Walsheim Pro Bold';
    font-size: 30px;
    color: #62626F;
    margin-bottom: 0;
}

.programming-text {
    font-family: 'GT Walsheim Pro Light';
    font-size: 20px;
    color: #62626F;
    text-align: center;
    margin-top: 0;
}

.secondary-skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.secondary-skill {
    width: 30%;
}

.secondary-skill-icon {
    height: 100px;
    width: 100px;
    display: table;
    margin: 0 auto;
}

.secondary-skill-title {
    font-family: 'GT Walsheim Pro Bold';
    font-size: 50px;
    color: #26262C;
    text-align: center;
    margin: 0;
    line-height: 1em;
}

.secondary-skill-text {
    font-family: 'GT Walsheim Pro Light';
    font-size: 26px;
    color: #62626F;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}


/* Contact */

.contactdiv {
    text-align: center;
    padding-top: 12em;
}

.contact-text {
    font-family: 'GT Walsheim Pro Light';
    font-size: 36px;
    color: #62626F;
}

.email-text{
    font-family: 'GT Walsheim Pro Bold';
    font-size: 55px;
    color: #26262C;
    text-decoration: none;
}


/* Animations */

.js-hidden{
    opacity: 0;
    transform: translateY(-50px);
    transition-duration: 1s;
}

.two-s {
    transition-duration: 2s;
}

.js-visible {
    transform: translateY(0px);
    opacity: 1;
}


/* Responsive */

@media (max-width: 800px) {
    .secondary-skills {
      flex-direction: column;
    }
}